.images_example_container {
    width: 100%;
    height: 100%;
}

.images_header {
    border-top: 1px solid black;
    padding: 1rem 3rem;
    font-size: 1.8em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.images_container {
    background-image: url("../../assets/photos/img-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.images_container img:first-child {
    width: 300px;
    position: absolute;
    left: 0;
    top: 5%;
}

.images_container img:nth-child(2) {
    width: 350px;
    position: absolute;
    left: 10%;
    top: 25%;
    z-index: 2;
}

.images_container img:nth-child(3) {
    position: absolute;
    left: 30%;
    top: 10%;
    width: 400px;
    z-index: 1;
}

.images_container img:nth-child(4) {
    position: absolute;
    right: 2%;
    top: 5%;
    width: 480px;
    z-index: 1;
}

.images_container img:nth-child(5) {
    position: absolute;
    right: 10%;
    bottom: 5%;
    width: 550px;
    z-index: 1;
}

.images_container .images_text {}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0.7rem;
    position: absolute;
    color: var(--cover-text-color);
    z-index: 200;
    /* top: 70%;
    left: 1%; */
    bottom: 5%;
    left: 1%;
}

.horizontal {
    z-index: 200;
    bottom: 1%;
    left: 3%;
    letter-spacing: 0.7rem;
    color: var(--cover-text-color);
    position: absolute;
}

.images_footer {
    border-bottom: 1px solid black;
    padding: 1.5rem 3rem;
    font-size: 1.8em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1247px) {
    .images_container img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: none;
        margin: 0 auto;
        width: 300px;
    }

    .images_header {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
}

@media (max-width: 1000px) {
    .images_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
        justify-items: center;
        height: auto;
        padding: 2rem;
    }

    .images_container img {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 300px;
    }

    .images_container img:first-child {
        width: auto;
        position: static;
        left: auto;
        top: auto;
    }

    .images_container img:nth-child(2) {
        width: auto;
        position: static;
        left: auto;
        top: auto;
        z-index: auto;
    }

    .images_container img:nth-child(3) {
        position: static;
        left: auto;
        top: auto;
        width: auto;
        z-index: auto;
    }

    .images_container img:nth-child(4) {
        position: static;
        right: auto;
        top: auto;
        width: auto;
        z-index: auto;
    }

    .images_container img:nth-child(5) {
        position: static;
        right: auto;
        bottom: auto;
        width: auto;
        z-index: auto;
    }
}


@media (max-width: 700px) {
    .images_container img {
        position: static;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 230px;
    }
}

@media (max-width: 530px) {
    .images_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-image: none;
        justify-content: center;
        height: auto;
    }

    .images_container img {
        max-width: 200px;
    }

    .vertical {
        color: var(--text-color);
        bottom: 3%;
    }

    .horizontal {
        color: var(--text-color);
        bottom: 0;
    }
}

@media (max-width: 460px) {
    .images_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .images_container img {
        max-width: 300px;
        margin: 0 20px;
    }
}


.ii:nth-child(even) {
    animation: float-up 3s ease-in-out infinite;
}

.ii:nth-child(odd) {
    animation: float-down 3s ease-in-out infinite;
}

@keyframes float-up {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes float-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }
}
