.about{
    text-align: start;
    padding: 1rem;
}

.about img{
    width: 55px;
    margin-bottom: 1.5rem;
}
.about_text{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
}

.about_location{
    text-align: center;
    margin-top: 2rem;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.location{
    margin-top: 1rem;
    text-decoration: underline;
}